{% extends 'base_logged.html.twig' %}

{% block title %}Edytuj adres{% endblock %}

{% block main %}
    <h1>Edytuj adres</h1>

    {{ include('adres/_form.html.twig', {'button_label': 'Edytuj'}) }}

{% endblock %}
