{% extends 'base_logged.html.twig' %}

{% block title %}Spis adresów{% endblock %}

{% block main %}
    <h1>Spis adresów</h1>
    <a href="{{ path('adres_new') }}" class="new">Dodaj nowy</a>

    {{ include('adres/_table.html.twig') }} 

{% endblock %}
