:root{
    --color_primary: white;
    --color_secondary: rgb(116, 13, 21);
    --text_color_primary: black;
    --text_color_secondary: white;
    --shadow_primary: 0 10px 20px 5px rgba(0, 0, 0, 0.25);
    --shadow_secondary: 0 12px 40px 5px rgba(0, 0, 0, 0.2);
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--color_primary);
    font-size: x-large;
    color: var(--text_color_primary);
    margin: 0;
    padding: 0;
}

div.nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;
    height: 100%;
    background-color: var(--color_secondary);
    color: var(--color_primary);
    width: 20%;
    box-shadow: var(--shadow_primary), var(--shadow_secondary);
}

div.nav a{
    background-color: var(--color_secondary);
    color: var(--color_primary);
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
    box-shadow: 0, 0;
    transition: padding 0.5s, transform 0.5s, box-shadow 0.5s;
}

div.nav a:hover{
    background-color: var(--color_primary);
    color: var(--color_secondary);
    padding: 20px 0px;
    transform: scaleX(1.1);
    box-shadow: var(--shadow_primary), var(--shadow_secondary);
}

div.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin-left: 20%;
    padding: 10px;
}
div.main h1{
    width: 100%;
}

div.center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.login{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    background-color: var(--color_secondary);
    color: var(--text_color_secondary);
    width: 25%;
    padding: 10px;
    box-shadow: var(--shadow_primary), var(--shadow_secondary);
}

div.login input[type='text'], div.login input[type='password'], div.login input[type='submit']{
    display: block;
    width: 100%;
    padding: 10px;
    color: var(--text_color_primary);
}

div.login input[type='submit']{
    background-color: var(--color_secondary);
    color: var(--color_primary);
    border: none;
}

div.login input:hover[type='submit']{
    background-color: var(--color_primary);
    color: var(--color_secondary);
}

.table{
    width: 100%;
}

.table, .table th, .table td{
    border-bottom: 1px solid var(--color_secondary);
    border-collapse: collapse;
    padding: 5px;
}

.table th, .table td{
    text-align: left;
}

.desc{
    max-height: 200px;
    overflow-y: auto;
}

.table tr:nth-child(even) {
    background-color: var(--color_secondary);
    color: var(--text_color_secondary);
}

.table tr:hover{
    background-color: black;
    color: white;
}

a.details, a.edit, a.new, a.delete{
    display: inline-block;
    color: var(--text_color_secondary);
    padding: 6px;
    text-decoration: none;
    box-shadow: 0, 0;
    transition: padding 0.5s, transform 0.5s, box-shadow 0.5s;
}

a.details:hover, a.edit:hover, a.new:hover, a.delete:hover{
    background-color: var(--color_primary);
    color: var(--color_secondary);
    padding: 12px ;
    transform: scaleX(1.1);
    box-shadow: var(--shadow_primary), var(--shadow_secondary);
}

a.details{
    background-color: rgb(90, 211, 35);
}

a.edit{
    background-color: rgb(44, 133, 235);
}

a.new{
    background-color: rgb(90, 211, 35);
}

a.delete{
    background-color: rgb(211, 35, 35);
}

.right{
    text-align: right;
    display: block;
    width: 100%;
}

.form{
    width: 100%;
}

.form input[type=text] {
    align-self: right;
    border: none;
    border-bottom: 2px solid var(--color_secondary);
}

.form input, .form select{
    display: block;
    width: 100%;
    padding: 5px 15px 0px 15px;
    font-size: x-large;
    margin-bottom: 15px;
}

.form button{
    width: 100%;
}

.form label{
    display: inline-block;
    padding-top: 25px;
}

button{
    border: none;
    font-size: x-large;
    background-color: var(--color_secondary);
    color: var(--color_primary);
    padding: 6px;
    box-shadow: 0, 0;
    transition: padding 0.5s, transform 0.5s, box-shadow 0.5s;
}

button:hover{
    background-color: var(--color_primary);
    color: var(--color_secondary);
    padding: 12px;
    transform: scaleX(1.1);
    box-shadow: var(--shadow_primary), var(--shadow_secondary);
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.modal-content{
    background-color: var(--color_primary);
    z-index: 2;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    padding: 50px;
    box-shadow: var(--shadow_primary), var(--shadow_secondary);
}

.modal-content{
    animation-name: zoom;
    animation-duration: 1s;
}

@keyframes zoom{
    from{
        transform: scale(0.1);
    }

    to{
        transform: translate(-50%, -50%);
    }
}

.close{
    position: absolute;
    top: 15px;
    right: 25px;
    color: var(--color_secondary);
    font-size: 40px;
}


@media screen and (max-width: 600px){
    div.nav{
        position: relative;
    }

    div.main{
        margin-left: 0%;
    }

    div.main, div.nav, div.login{
        width: 100%;
    }

    div.center{
        justify-content: none;
        align-items: none;
    }

}

