{% extends 'base_logged.html.twig' %}

{% block title %}Nowy klient{% endblock %}

{% block main %}
    
    <h1>Utwórz nowego klienta</h1>
    
    {{ include('client/_form.html.twig') }}

{% endblock %}
