{% extends 'base.html.twig' %}
{% block body %}
<div class="nav">
    {% block nav %}
    <a href="{{ path('client_index') }}">Klienci</a>
    <a href="{{ path('estimate_index') }}">Kosztorysy</a>
    <a href="">Usługi</a>
    <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
    {% endblock %}
</div>
<div class="main">
    {% block main %}
    {{ message }}
    {% endblock %}
</div>
<div class="foot">
    {% block foot %}

    {% endblock %}
</div>
{% endblock %}