<!DOCTYPE html>
<html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html lang="en">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>

<body>
    {% block body %}
    <div class="nav">
        {% block nav %}
        <a href="">{{ message }}</a>
        <a href="">Klienci</a>
        <a href="">Kosztorysy</a>
        <a href="">Usługi</a>
        {% endblock %}
    </div>
    <div class="main">
        {% block main %}
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, placeat impedit laboriosam repellendus quis
        fugiat modi quos inventore reiciendis odit aliquid harum quasi non totam voluptatum pariatur minus a! Atque?
        Et debitis deleniti asperiores ad, repellendus mollitia aliquid itaque eaque hic inventore, excepturi pariatur?
        Quidem recusandae similique, sapiente animi nisi quasi beatae amet ipsum itaque accusantium dolorum, nemo
        temporibus consectetur.
        Atque asperiores quod ab, dicta ipsum aliquam soluta facilis voluptate exercitationem praesentium perferendis
        saepe modi enim. Non quam, laborum ad neque molestias deserunt natus nihil eum asperiores! Porro, earum quas!
        Ipsa laborum fuga voluptatum non ex neque eveniet possimus. Commodi sapiente eos dolores quidem ratione deleniti
        aspernatur saepe in quam placeat voluptatum, animi provident officiis modi ad eum dolorem architecto.
        Porro officia ipsa voluptas rerum corrupti impedit tenetur dolore eius similique incidunt voluptates nesciunt
        ipsum ducimus necessitatibus consequuntur, tempora expedita. Tempora ipsam, cumque optio aliquid illum
        accusantium. Laborum, dignissimos assumenda.
        {% endblock %}
    </div>
    <div class="foot">
        {% block foot %}

        {% endblock %}
    </div>
    {% endblock %}
    {% block javascripts %}{% endblock %}
</body>

</html>