{% extends 'base.html.twig' %}
{% block body %}
<div class="">
    <h1>Błąd 404 nie znaleziono w serwisie strony o adresie, pod który próbowano się dostać.</h1>
    <p>Wróć do <a href="{{ path('main') }}">strony głównej</a></p>
</div>
{% endblock %}