{% extends 'base_logged.html.twig' %}
{% block title %}Spis kosztorysów{% endblock %}

{% block main %}
    <h1>Spis kosztorysów</h1>
    
    <a href="{{ path('estimate_new') }}" class="new">Utwórz nowy</a>
    {{ include('estimate/_table.html.twig') }}

{% endblock %}
