{% extends 'base_logged.html.twig' %}
{% block title %}Spis kosztorysów{% endblock %}

{% block main %}
    <h1>Spis kosztorysów</h1>
    
    <button onclick="openModal('add')">Dodaj nowy kosztorys</button>
    {{ include('_modal_form.html.twig', {modal_id: 'add', modal_title: 'Dodaj kosztorys',
     form_path: '_form.html.twig', form_button: 'Dodaj', action_path: path('estimate_new') }) }}

    {{ include('estimate/_table.html.twig') }}

{% endblock %}
