{% extends 'base_logged.html.twig' %}
{% block title %}Nowy Kosztorys{% endblock %}

{% block main %}
    <h1>Stwórz nowy kosztorys</h1>

    {{ include('estimate/_form.html.twig') }}

{% endblock %}
